@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");
$purple: #8702af;
body {
  color: white;
}
.instructions {
  display: none;
  p {
    display: inline-block;
    padding: 10px;
    border-bottom: 1px solid $purple;
    margin: 0px 20px;
    margin-bottom: 30px;
  }
}
.networks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  border: 1px solid $purple;
  border-radius: 5px;
  padding: 10px;
  margin: 40px;
  margin-bottom: 20px;
  width: 65%;
  .title {
    font-size: 1.2rem;
    padding: 5px;
    border-bottom: 1px solid #800080a2;
    margin-bottom: 5px;
    padding-left: 15px;
    font-family: "Montserrat";
  }
  .desc {
    font-family: "Open Sans";
    padding: 0px 5px;
  }
  .btn {
    margin: 10px;
    padding: 7px 19px;
    display: inline-block;
    font-size: 1.1rem;
    font-family: "Open Sans";
    background: linear-gradient(145deg, $purple, darken($purple, 15%));
    border-radius: 5px;
    cursor: pointer;
  }
}
